<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>gdg-gae-presentation</title>

    <link rel="stylesheet" href="libs/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="libs/bootstrap/dist/css/bootstrap-theme.min.css">

    <script src="libs/angular/angular.min.js"></script>
    <script src="libs/jquery/dist/jquery.min.js"></script>
    <script src="libs/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="app.js"></script>
</head>
<body ng-app="gdg-gae-presentation">
<div class="container" ng-controller="controller">
    <h1>{{text}}</h1>
    <table class="table">
        <tr>
            <th><input placeholder="Name" ng-model="name"/></th>
            <th><input placeholder="Age" ng-model="age"/></th>
            <th><input placeholder="Job" ng-model="job"/></th>
            <th>
                <button class="btn" ng-click="add(name, age, job)">Add</button>
            </th>
        </tr>
        <tr ng-repeat="employee in employees">
            <td>{{employee.name}}</td>
            <td>{{employee.age}}</td>
            <td>{{employee.job}}</td>
        </tr>
    </table>
</div>
</body>
</html>